.right-side {
  min-width: 350px;
  margin: 3rem 3rem 0 3rem;
  flex: 1 1;
  width: 100%;
  /*overflow-x: auto;*/
}
.page-padding {
  margin-top: 56px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height, or 121% */
  color: #2c2c2c;
}
